{# src/HyperionStudios/GxpAdminBundle/Resources/views/Page/index.html.twig #}
{% extends 'ProjectGxpAdminBundle::layout.html.twig' %}

{% block title %}ProjectGxp Admin Panel{% endblock %}

{% block stylesheets %}
    {{ parent() }}   
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block altbody %}
    <div class="admin-panel">
        <ul class="nav nav-tabs topnav">
            <li><a href="{{ path('ProjectGxpAdmin_index') }}">Dashboard</a></li>
            <li><a href="{{ path('ProjectGxpAdmin_settings') }}">Settings</a></li>
            <li><a href="{{ path('ProjectGxpAdmin_servers') }}">Servers</a></li>
            <li><a href="{{ path('ProjectGxpAdmin_users') }}">Users</a></li>  
            <li><a href="{{ path('ProjectGxpAdmin_bans') }}">Bans</a></li>  
            <li><a href="{{ path('ProjectGxpAdmin_complaints') }}">Compliants</a></li>
            
        </ul>
        <div class="panel panel-primary">
            <div class="panel-body">
                {% block admin_content %}
                    <div class="row">
                        <div class="col-md-2 side-nav">
                            <ul class="nav">
                                {% block admin_side_nav %}

                                {% endblock %} 
                            </ul>
                        </div>
                        <div class="col-md-10">
                            {% block success_flash %}
                                {% for flashMessage in app.session.flashbag.get('success') %}
                                    <div class="alert alert-success">{{ flashMessage }}</div>
                                {% endfor %}   
                            {% endblock %}
                            {% block fail_flash %}
                                {% for flashMessage in app.session.flashbag.get('fail') %}
                                    <div class="alert alert-danger">{{ flashMessage }}</div>
                                {% endfor %}   
                            {% endblock %}
                            
                            {% block admin_body %}
                                
                            {% endblock %}  
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}