{# src/HyperionStudios/GxpBundle/Resources/TwigBundle/views/Exception/error.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %}{{ status_code }} Error!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .error {
            width: 60%;
            margin: 0 auto;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="error">
        <h1 class="text-danger">Oops! The server done derped. (500)</h1>
        <p>We're sorry, but an error with our server has occured. 
            This error most likely was caused by poor coding from our highly trained and underpaid code monkeys.
            <br>
            If this error persists, please <a href='{{ path('ProjectGxp_contact') }}'>contact us</a>.
        </p>
        <a class="btn btn-primary" href="{{ path('ProjectGxp_servers') }}">Go Home</a>
        <button class="btn btn-primary" onclick="window.history.go(-1);">Go back!</button>
        <br>
        <br>
        <br>
        <p>Perhaps a random internet cat will make you feel better.</p>
        <img src="http://randomcat.tk" alt="Internet Cat">
    </div>
{% endblock %}