{# src/HyperionStudios/GxpBundle/Resources/TwigBundle/views/Exception/error403.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %}{{ status_code }} Error!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .error {
            width: 60%;
            margin: 0 auto;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="error">
        <h1 class="text-danger">Oh noes! Forbidden (403)</h1>
        <p>We're sorry, but it seems you do not have enough "special" to view the content you seek. 
            You may also been banned from are services. 
            <br>
            If this is a mistake, please <a href="{{ path('ProjectGxp_contact') }}">contact us</a>.
        </p>
        <a class="btn btn-primary" href="{{ path('ProjectGxp_servers') }}">Go Home</a>
        <button class="btn btn-primary" onclick="window.history.go(-1);">Go back!</button>
        <br>
        <br>
        <br>
        <p>Perhaps a random internet cat will make you feel better.</p>
        <img src="http://randomcat.tk" alt="Internet Cat">
    </div>
{% endblock %}