{# src/HyperionStudios/GxpBundle/Resources/TwigBundle/views/Exception/error.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %}{{ status_code }} Error!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .error {
            width: 60%;
            margin: 0 auto;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="error">
        <h1 class="text-danger">Oops! An Error Occurred</h1>
        <h3>The server returned a "{{ status_code }} {{ status_text }}".</h3>
        <button class="btn btn-primary" onclick="window.history.go(-1);">Go back!</button>
    </div>
{% endblock %}