{# src/HyperionStudios/GxpBundle/Resources/TwigBundle/views/Exception/error.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %}{{ status_code }} Error!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .error {
            width: 60%;
            margin: 0 auto;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="error">
        <h1 class="text-danger">Oops! That something is missing! (404)</h1>
        <p>We're sorry, but we are unable to locate the page your are looking for. 
            Perhaps you followed a link from another website or a search engine that has been removed.
            Another possiblity is the url isn't correctly inputed.
            <br>
            If this is a mistake, please <a href="{{ path('ProjectGxp_contact') }}">contact us</a>.
        </p>
        <a class="btn btn-primary" href="{{ path('ProjectGxp_servers') }}">Go Home</a>
        <button class="btn btn-primary" onclick="window.history.go(-1);">Go back!</button>
        <br>
        <br>
        <br>
        <p>Perhaps a random internet cat will make you feel better.</p>
        <img src="http://randomcat.tk" alt="Internet Cat">
    </div>
{% endblock %}