{# src/HyperionStudios/GxpAdminBundle/Resources/views/User/profile.html.twig #}
{% extends 'ProjectGxpAdminBundle:Page:index.html.twig' %}

{% block title %}ProjectGxp Admin {{ user.username }}'s Profile {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block admin_side_nav %}
    <li>{{ form_row(form.submit) }}</li>
    {#<li>{{ form_row(form.edit) }}</li>
    <li>{{ form_row(form.ban, {'attr': {'class': 'btn btn-warning'} }) }}</li>
    <li>{{ form_row(form.delete, {'attr': {'class': 'btn btn-danger'} }) }}</li>#}
{% endblock %}

{% block altbody %}
    {{ form_start(form) }}
    
    {{ parent() }}
    
    {{ form_rest(form) }}
{% endblock %}


{% block admin_body %}
    
    <h3>{{ user.username }}'s Profile</h3>
    {{ form_errors(form) }} 
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.roles, {'attr': {'class':'form-control'} }) }}

{% endblock %}