{# src/HyperionStudios/GxpBundle/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A game server top site to quickly 
          find the best server that meets the needs of players.">
    <meta name="author" content="Hyperion Studios">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <!--link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen"-->
      <!-- Custom styles for this template -->
      <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}

    {% block headJavascripts %}

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block googleAnalytics %}
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ ga_id }}', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

        </script>
    {% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ path('ProjectGxp_index') }}">
              <img src="{{ asset('images/pgxplogo.png') }}" height="50" alt="ProjectGxp">
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('ProjectGxp_index') }}">Home</a></li>
            <li><a href="{{ path('ProjectGxp_createServer') }}">Add Server</a></li>
            <li><a href="{{ path('ProjectGxp_contact') }}">Contact</a></li>
          </ul>
          <p class="navbar-text pull-right">
            {% if app.user and  is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            Logged in as <a href="{{ path('ProjectGxp_userProfile', {'id': app.user.id}) }}" class="navbar-link">{{ app.user.username }}</a>
                |
                <a href="{{path('ProjectGxp_logout')}}">Logout</a>
            {% else %}
                <a href="{{ path('ProjectGxp_register') }}">Register</a>
                |
                <a href="{{ path('ProjectGxp_login') }}">Login</a>
            {% endif %}
          </p>
          
        </div><!--/.nav-collapse -->
        
      </div>
    </div>
    <div id="wrapper">
        <div class="container">
            {%block content %}

            {%endblock%}

        </div><!-- /.container -->
    </div>
    <footer id="footer">
        {%block footer %}
            <nav class="navbar navbar-inverse navbar-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-unstyled">
                                
                            </ul>                    
                        </div>
                        <div class="col-md-3">
                            <ul class="list-unstyled">
                                <li><a class="navbar-link" href="{{ path('ProjectGxp_stats') }}">Statistics</a></li>
                                <li><a class="navbar-link" href="{{ path('ProjectGxp_api_help') }}">API</a></li>
                            </ul>
                            
                        </div>
                        <div class="col-md-3">
                            <ul class="list-unstyled">
                                <li><a class="navbar-link" href="{{ path('ProjectGxp_tos') }}">Terms</a></li>
                                <li><a class="navbar-link" href="{{ path('ProjectGxp_privacy') }}">Privacy</a></li>
                                <li><a class="navbar-link" href="{{ path('ProjectGxp_contact') }}">Contact</a></li>
                            </ul>
                        </div>
                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                            <div class="col-md-3">
                                <ul class="list-unstyled">
                                    <li><a class="navbar-link" href="{{ path('ProjectGxpAdmin_index') }}" >Admin Panel</a></li>
                                </ul>
                                
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-2">Hyperion Studios &copy; 2014</div>
                    </div>
                </div>
            </nav>
        {%endblock%}
    </footer>

    {% block coreJavascript %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <!--script src="{{ asset('js/bootstrap.min.js') }}"></script-->

    {% endblock %}
  </body>
</html>