{# src/HyperionStudios/GxpAdminBundle/Resources/views/Page/users.html.twig #}
{% extends 'ProjectGxpAdminBundle:Page:index.html.twig' %}

{% block title %}ProjectGxp Admin Bans Panel{% endblock %}

{% block stylesheets %}
    {{ parent() }}    
{% endblock %}

{% block altbody %}
    {{ form_start(form) }}
    
    {{ parent() }}
    
    {{ form_rest(form) }}
{% endblock %}

{% block admin_side_nav %}
    <li><a href="" class="btn btn-default">Find Bans</a></li>
    <li>{{ form_row(form.unban, {'attr': {'class': 'btn btn-danger', 'onClick': 'return confirm(\'Are you sure you wish to continue?\')'} })  }}</li>
    <li>{{ form_row(form.ban, {'attr': {'class': 'btn btn-warning'} })  }}</li>
{% endblock %}

{% block success_flash %}
    {{ parent() }}
    {% for flashMessage in app.session.flashbag.get('ban_success') %}
        <div class="alert alert-success">
            {{ flashMessage }} 
            <div class="pull-right ban-hammer"><img src="{{ asset('images/banhammer.png') }}" height="50"></div>
        </div>
    {% endfor %}   
{% endblock %}

{% block admin_body %}
    {{ form_errors(form) }} 
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>Ip Address</th>
                <th>User</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            {% set key = 0 %}
            {% for child in form.bans %}
                <tr>
                    <td>{{ form_widget(child, {'attr': {'class': attr.widget_class|default('')}}) }}</td>
                    <td>
                        {% if bans[key].ip %}
                            {{ bans[key].ip }}
                        {% endif %}
                    </td>
                    <td>
                        {% if bans[key].user %}
                            <a href="{{ path('ProjectGxpAdmin_user_profile', { 'id': bans[key].user.id }) }}">           
                                {{ bans[key].user.username }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ bans[key].id }}</td>
                </tr>
                {% set key = key + 1 %}
            {% endfor %}
        </tobdy>
    </table>
    
    {% if pages > 1 %}    
    <ul class="pagination">      
        {% for i in 1..pages %}
            {% if i == 1 and i == page %}
                <li class="disabled"><a>&laquo;</a></li>
            {% elseif i == 1 %}
                <li><a href="{{ path('ProjectGxpAdmin_users', {'page': (page-1)}) }}">&laquo;</a></li>
            {% endif %}

            {% if i == page %}
                <li class="active"><a>{{ i }} <span class="sr-only">(current)</span></a></li>
            {% else %}
                <li><a href="{{ path('ProjectGxpAdmin_users', {'page': i}) }}">{{ i }}</a></li>
            {% endif %}

            {% if i == page and page == pages %}
                <li class="disabled"><a>&raquo;</a></li>
            {% elseif i == pages %}
                <li><a href="{{ path('ProjectGxpAdmin_users', {'page': (page+1)}) }}">&raquo;</a></li>
            {% endif %}

        {% endfor %}
    </ul>    
    {% endif %}
{% endblock %}  

{% form_theme form _self %}

{% block checkbox_widget %}
    {% spaceless %}
    <div class="checkbox">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    </div>
    {% endspaceless %}
{% endblock checkbox_widget %}