{# src/HyperionStudios/GxpBundle/Resources/views/Server/editServer.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %} ProjectGxp Editing {{ server.name }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="http://cdn.wysibb.com/css/default/wbbtheme.css">
    <link href="{{ asset("css/server_editor.css") }}" rel="stylesheet">
    <style>
        /*
        * this is required because of a weird glitch fixing the footer at the 
        * bottom of the screen and not auto adjustingcaused by adding wysibb
        */
        #footer {
            bottom: inherit;
        }
    </style>    
{% endblock %}

{% block coreJavascript %}
    {{ parent() }}

    <script src="http://cdn.wysibb.com/js/jquery.wysibb.min.js"></script>
    <script src="{{ asset('js/wysibb_config.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $("#serverForm_description").wysibb(wbbOpt);
        });
        $(document).ready(function() {
            //remove required attr because of some weird bug with chrome..
            $('#serverForm_description').removeAttr('required');
            
            $("#serverForm_bannerImage_file").change(function (e) {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#bannerImg')
                            .attr('src', e.target.result)
                            .width(468)
                            .height(60);
                    };

                    reader.readAsDataURL(this.files[0]);
                }
            });
            
            //Un-disable this element because not sure how to unset it server side....
            $('#serverForm_apiKey').prop('disabled', false);
            //can't select all when element is "disabled"
            $('#serverForm_apiKey').focus(function() {
                var $this = $(this);
                $this.select();

                // Work around Chrome's little problem
                $this.mouseup(function() {
                    // Prevent further mouseup intervention
                    $this.unbind('mouseup');
                    return false;
                });
            });

        }); 
    </script>
{% endblock %}

{% block content %}
    <div class="panel panel-primary register_form">
        <div class="panel-heading">Editing {{ server.name }}</div>
        <div class="panel-toolbar">
            <ul class="list-inline">
                <li>
                    <a class="btn btn-danger" href="{{ path('ProjectGxp_removeServer', {'id': server.id}) }}">
                        <span class="glyphicon glyphicon-remove"></span>
                        Remove
                    </a>
                </li> 
            </ul>
        </div>
        <div class="panel-body">
            {% for flashMessage in app.session.flashbag.get('edit_success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                    <br>
                    <a href="{{ path('ProjectGxp_server', {'id': server.id}) }}" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span>
                        Return
                    </a>
                </div>
            {% endfor %}
            {{ form_start(form) }}
                {{ form_errors(form) }} 
                <div class="row">
                        <div class="col-md-3">
                            {{ form_row(form.type) }}
                            {{ form_row(form.country) }}
                            <br>
                            {{ form_row(form.submit, { 'attr': { 'class': 'btn btn-primary' } }) }}
                        </div>
                        <div class="col-md-5"> 
                            {{ form_row(form.name) }}
                            {{ form_row(form.ip, {'label': 'IP Address'}) }}
                            {{ form_row(form.port) }}
                            {{ form_row(form.url, {'label': 'Website'}) }}
                            <div class="form-group">
                                {{ form_errors(form.bannerImage.file) }}
                                {{ form_label(form.bannerImage.file) }}
                                {{ form_widget(form.bannerImage.file) }}
                                <p class="help-block">Upload a 468x60. Max file size is 250kb.</p>
                                <img id="bannerImg" src="{{ asset(server.bannerImage.webPath) }}" class="img-responsive" alt="Banner Image">
                            </div>
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.serverPostback.votifierIp) }}
                            {{ form_row(form.serverPostback.votifierPort) }}
                            {{ form_row(form.serverPostback.votifierPublicKey) }}
                            {{ form_row(form.serverPostback.postbackUrl) }}

                            <div class='form-group'>
                                {{ form_label(form.apiKey) }}
                                <div class="input-group">
                                    {{ form_widget(form.apiKey, { 'attr': { 'disable': '' } }) }}
                                    <span class="input-group-btn">
                                        {{ form_widget(form.newApiKey, { 'attr': { 'class': 'btn btn-warning' } }) }}
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>        
                    <div class="row">
                        <div class="col-md-12">
                            <div id="description">
                            {{ form_row(form.description, { 'attr': {'novalidate': 'novalidate' } }) }}
                            </div>
                            {{ form_row(form.tags) }}
                        </div>
                    </div>
                </div>        

                {{ form_rest(form) }}
            </form>
        </div>
    </div>

{% endblock %}