{# src/HyperionStudios/GxpBundle/Resources/views/Server/deleteServer.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %} Removing {{ server.name }} {% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-7 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Removing {{ server.name }}</div>
                <div class="panel-body">
                    <div class="alert alert-danger">
                        <p>You are about to permanently remove your server from our listings. 
                            Are you sure you wish to continue?</p>
                    </div>
                    <div class="pull-right">
                        <a href="{{ path('ProjectGxp_removeServer', {'id': server.id, 'confirmed': true }) }}" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                            Continue
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        

{% endblock %}