{# src/HyperionStudios/GxpBundle/Resources/views/Page/server.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %}{{server.name}}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/serverPage.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css"/>
    <style>
        .fb-like {
            margin: 5px 0;
        }
        .social-bar {
            padding: 20px 0;
        }
       
    </style>
{% endblock %}
{% block coreJavascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.zclip.min.js') }}"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#vote-form-button').click(function(){
                $('#vote-form').show();
                $('#vote-form-button').hide();
            });
            
            //can't select all when element is "disabled"
            $('a.ip-copy-btn').each(function() {
                var $this = $(this);
                $this.zclip({
                    path:'{{ asset('js/ZeroClipboard.swf') }}',
                    copy: $this.data('copy'),
                    afterCopy:function(){ 
                        var $this = $(this);
                        $this.toggleClass('btn-success');
                        $this.find('.checkmark').toggle();
                        setTimeout(function(){ 
                            $this.toggleClass('btn-success');
                            $this.find('.checkmark').toggle();
                        },
                        5000);

                    } 
                });
            });
        });
    </script>
    
{% endblock %}

{% block altbody %}
    <div id="fb-root"></div>
    
    {{ parent() }}
    <div>
        {% for flashMessage in app.session.flashbag.get('create_success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>
                            <span class="glyphicon glyphicon-info-sign"></span>
                            {{ server.type.name }} {{ server.version }} Server 
                        </h4>
                    </div>
                    <table class="info">
                        <tr>
                            <td class="header">Status:</td>
                            <td>{#{ server.isOnline }#}
 
                                {% if server.isOnline %}
                                    <span class="label label-success">Online</span>
                                {% else %}
                                    <span class="label label-danger">Offline</span>
                                {% endif %}
                            </td>
                        </tr>  
                        <tr>
                            <td class="header">Ip Address:</td>
                            <td>{{ server.ip }}<br>
                                {{ server.port }}
                                <div style="position: relative;">
                                    <a class="btn btn-default btn-xs ip-copy-btn" data-copy="{{ server.ip }}:{{ server.port }}">
                                        Copy
                                        <span class="checkmark glyphicon glyphicon-ok-sign" style="display:none;"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {#
                        <tr>
                            <td class="header">Rank:</td>
                            <td>#{{ server.rank }}</td>
                        </tr>
                        #}
                        <tr>
                            <td class="header">Country:</td>
                            <td>
                                <label>{{ server.country|country }}</label>
                                <div class="f32"><span class="flag {{ server.country|lower }}" title="{{ server.country|country }}"></span></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="header">Website:</td>
                            <td>{% spaceless %}
                                {% if server.url %}
                                    <a class="btn btn-primary btn-sm" href="{{ server.url }}" target="_blank">Visit Website</a>
                                {% else %}
                                    <a class="btn btn-warning btn-sm" target="_blank">No Website</a>
                                {% endif %}
                                {% endspaceless %}</td>
                        </tr>
                        <tr>
                            <td class="header">Uptime:</td>
                            <td>{{ (server.UptimePercentage() *100)|number_format(2,'.',',') }}%</td>
                        </tr>
                        <tr>
                            <td class="header">Players:</td>
                            <td>
                                {% if server.playersCount and server.maxPlayersCount %}
                                    {{ server.playersCount }}/{{ server.maxPlayersCount }}
                                {% elseif server.maxPlayersCount %}
                                    0/{{ server.maxPlayersCount }}
                                {% elseif server.playersCount %}
                                    {{ server.playersCount }}    
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                        </tr>
                        {% if server.onlinePlayers is not empty %}
                        <tr>
                            <td class="header">Online Players:</td>
                            <td>{{ server.onlinePlayers|join(', ') }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td class="header">Votes:</td>
                            <td>{{ server.totalVotes }}</td>
                        </tr>
                        <tr>
                            <td class="header">Last Ping:</td>
                            <td>
                                <time datetime="{{ server.lastPing|date('c') }}">
                                    {{ server.lastPing|time_diff }}
                                </time>
                            </td>
                        </tr>

                        <tr>
                            <td class="header">Age:</td>
                            <td>
                                <time datetime="{{ server.creationDate|date('c') }}">
                                    {{ server.creationDate|time_diff(false) }}
                                </time>
                            </td>
                        </tr>
                        <tr>
                            <td class="header">Tags</td>
                            <td>
                                {% for tag in server.tags %}
                                    <a href="{{ path('ProjectGxp_servers', {'type': server.type.name, 'tags': tag}) }}" class="btn btn-primary btn-xs">{{ tag }}</a>
                                {% endfor %}

                            </td>
                        </tr>


                    </table>
                </div>
                
            </div>
            <div class="col-md-9 col-sm-8">
                <article class="panel panel-primary serverInfo">
                    <div class="panel-heading">
                        <h4>
                            <span class="glyphicon glyphicon-hdd"></span>
                            {{ server.name }}   
                        </h4>
                    </div>
                    
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% if server.user.id == app.user.id %}
                            <div class="panel-toolbar">
                                <ul class="list-inline">
                                    <li>
                                        <a class="btn btn-default" href="{{ path('ProjectGxp_editServer', {'id': server.id}) }}">
                                            <span class="glyphicon glyphicon-wrench"></span>
                                            Edit
                                        </a>
                                    </li> 
                                    <li>
                                        <a class="btn btn-danger" href="{{ path('ProjectGxp_removeServer', {'id': server.id}) }}">
                                            <span class="glyphicon glyphicon-remove"></span>
                                            Remove
                                        </a>
                                    </li>  
                                </ul>
                            </div>
                            {% endif %}
                        {% endif %}
                    
                    <div class="panel-body">             

                        {% include 'ProjectGxpBundle:Snippets:nobanner.html.twig' %}
                        
                        <div class="row">
                            <div class="col-md-10 description">
                                {{ server.description|bbcode_filter('my_default_filter') }}
                            </div>
                            <div class="col-md-2 social-bar">
                                {% set social_url = url('ProjectGxp_server',{'id': server.id}) %}
                                <div class="fb-like" data-href="{{ social_url }}" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                                <div data-href="{{ social_url }}" class="g-plusone" data-size="medium"></div>
                                <a data-counturl="{{ social_url }}" data-url="{{ social_url }}"  href="https://twitter.com/share" class="twitter-share-button" data-count="horizital" data-lang="en">Tweet</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="panel-footer">
                        {% for flashMessage in app.session.flashbag.get('vote_success') %}
                            <div class="alert alert-success">{{ flashMessage }}</div>
                        {% endfor %}
                        
                        
                        {{ form_start(form, {'action': path('ProjectGxp_server', {'id':server.id} ), 'attr': {'class': 'form-inline'}}) }}
                        {{ form_errors(form) }}
                        {{ form_errors(form.username) }}
                        <div id="vote-form" style="display: none;">
                            <div class="form-group">
                                {{ form_row(form.submit) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.username) }}
                                {{ form_widget(form.username) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                        
                        <button type="button" id="vote-form-button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Vote
                        </button>
                    </div>
                </article>
            </div>           
        </div>
    </div>
    
    <!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
    //Facebook
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    
   //G+
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  
  //twitter
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  
</script>
{% endblock %}

{% form_theme form _self %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}><span class="glyphicon glyphicon-thumbs-up"></span> {{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}