{# src/HyperionStudios/GxpBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block content %}
    {{ parent() }}
    {% block altbody %}
        <div id="content" class="col-md-10">
            {% block body %}

            {% endblock %}
        </div>
        <aside id="rightSidebar" class="col-md-2">
             {% block rightSidebar %}

             {% endblock %}
        </aside>
    {% endblock %}
{% endblock %}
