{# src/HyperionStudios/GxpBundle/Resources/views/Page/index.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %}{{ user.username }}'s Profile {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css"/>
{% endblock %}
{% block content %}
    
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">{{ user.username }}'s Profile</div>
                <div class="panel-body">
                    {% if successMsg is defined %}
                        <div class="alert alert-success">{{ successMsg }}</div>
                    {% endif %}
                    {% if (form is defined) %}
                        <form role="form" action="{{ path('ProjectGxp_userProfile', {'id': user.id}) }}" method="post" {{ form_enctype(form) }}>
                            {{ form_row(form.email) }}
                            {{ form_row(form.plainPassword) }}
                            {{ form_row(form.submit) }}
                        </form>

                    {% endif %}
                </div>
            </div>
         </div>
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Servers owned by {{ user.username }}</div>
                <ul class="serverList list-group">
                    {% for server in user.servers %}
                    <li class="list-group-item" style="padding:0;">
                        <div class="panel-toolbar">
                            <ul class="list-inline">
                                <li>
                                    <a class="btn btn-default" href="{{ path('ProjectGxp_editServer', {'id': server.id}) }}">
                                        <span class="glyphicon glyphicon-wrench"></span>
                                        Edit
                                    </a>
                                </li> 
                                <li>
                                    <a class="btn btn-danger" href="{{ path('ProjectGxp_removeServer', {'id': server.id}) }}">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        Remove
                                    </a>
                                </li>  
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item">
                        {% include 'ProjectGxpBundle:Snippets:serverListing.html.twig' %}
                    </li>    
                        {% endfor %}
                        {% if user.servers is empty %}
                            <li class="list-group-item">

                                    <div class="alert alert-warning">
                                        Sorry, there are no servers to be displayed.
                                    </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
        </div>
             
    </div>



{% endblock %}