{% block form_row %}
    <div class='form-group'>
        {{ form_errors(form) }}
        {{ form_label(form) }}
        {{ form_widget(form) }}  
    </div>
{% endblock form_row %}

{% block checkbox_widget %}
    {% spaceless %}
    <div class="checkbox">
        <label>
            {{ form_label(form) }}
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        </label>
    </div>
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block checkbox_row %}
    {% spaceless %}
        {{ block('checkbox_widget') }}
    {% endspaceless %}
{% endblock %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block text_widget %}
    
    {% set type = type|default('text') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
  
    {{ block('form_widget_simple') }}
    
{% endblock text_widget %}
    
{% block password_widget %}
    
        {% spaceless %}
            {% set type = type|default('password') %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
            
            {{ block('form_widget_simple') }}

        {% endspaceless %}
    
{% endblock password_widget %}

{% block email_widget %}
        {% spaceless %}
            {% set type = type|default('email') %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}

            {{ block('form_widget_simple') }}
        {% endspaceless %}
{% endblock email_widget %}

{% block url_widget %}
        {% spaceless %}
            {% set type = type|default('url') %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
            {{ block('form_widget_simple') }}
        {% endspaceless %}
{% endblock url_widget %}
    
{% block textarea_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
  
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}
    
{% block submit_widget %}
    {% spaceless %}
        {% set type = type|default('submit') %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn btn-default')|trim}) %}
        {{ block('button_widget') }}
    {% endspaceless %}
{% endblock submit_widget %}
    