{% block style %}
    <style>
        .search-field {
            margin-bottom: 3px;
            width: 100%;
        }
        
    </style>
{% endblock %}    

{% block searchForm %}
<div class="panel-toolbar">
    {{ form_start(form, {'action': path('ProjectGxp_search_bar', {'type': type})}) }}
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
            {{ form_widget(form.name, {'attr': {'class': 'search-field' } }) }}
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            {{ form_widget(form.version, {'attr': {'class': 'form-control search-field' } }) }}
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            {{ form_widget(form.country, {'attr': {'class': 'form-control search-field' } }) }}
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            {{ form_widget(form.sortBy, {'attr': {'class': 'form-control search-field' } }) }}
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="input-group">
                {{ form_widget(form.tags) }}

                {% do form.submit.setRendered %}
                <span class="input-group-btn input-group-addon-hack">
                  <button class="btn btn-default" type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                      Search
                  </button>
                </span>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
</div>
{% endblock %}
