

table.info {
    width: 100%;
    table-layout:fixed;
    background-color: transparent;
}
table.info td {
    padding: 10px 10px;
    border: 1px solid #5D00FF;
    border-right: none;
    border-bottom: none;
    word-wrap: break-word;
}
table.info td.header {
    width: 90px;
    border-left: none;
}

.serverInfo .bannerImg {
     display: block;
     margin: 0 auto;
     width:468px;
     height:60px;
}

.description {
    margin-top: 20px;
    word-wrap: break-word;
}




