/*
    Customizes bootstrap!
*/
html {
  position: relative;
  min-height: 100%;
}
body {
    /*margin-top: 75px;*/
    background-color: #2c2c2c;
    color: #FFF;
    margin-bottom: 130px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
}

@media (min-width: 992px) {
    #footer {
        height: 130px;
    }
}

#footer .navbar {
    height: 100%;
    margin-bottom: 0;
}

.bannerAd {
    width: 468px;
    margin: 10px auto;
}

.dark-col {
    /*margin: 0 5px;*/
    padding: 15px;
    background-color: #404040;
    border-color: #646464;
    border-radius: 5px 5px;
}
.well {
    background-color: #4D4D4D;
    border: 1px solid #3C3C3C;
}

form .list-group-item {
    background-color: transparent;
    border: none;
    padding: 0;
}

.serverList .list-group-item {
    background-color: #595959;
    border: none;
}
.serverList .list-group-item .label {
    font-size: 20px;
}

.serverList .ip-copy-group {
    height: 20px;
}
.serverList .server-stats {
    margin-top: 15px;
}
.serverList .server-stats .text-danger {
    color: #FF9391;
}
.serverList .server-stats .text-warning {
    color: #E4A437;
}
.serverList .server-stats .text-success {
    color: #04DF08;
}

.serverList .server-status {
    margin-top:15px;
}

.serverList .server-tags {
    margin-bottom: -0.65em;
    padding: 2px;
    background: #4D4C4E;
    border-top: 1px solid #797979;
    border-bottom: 1px solid #797979;
}

.bannerImg {
     width:468px;
     height:60px;
}
.panel-primary {
    background-color: #595959;
    border: 1px solid #5D00FF;
}
.panel-primary .panel-heading, .panel-footer {
    background-color: #5D00FF;
    color: #FFFFFF;
    border: none;
}
.panel-body {
    overflow: hidden;
}
.panel-primary .panel-toolbar { 
    background-color:#8f55e1; 
}


.panel-toolbar ul { 
    padding: 4px 15px;
}

#rightSidebar .tags {
    font-weight: bold;
    font-size: 12px; 
}
#rightSidebar .tags .weight-1 { font-size: 12px; }
#rightSidebar .tags .weight-2 { font-size: 16px; }
#rightSidebar .tags .weight-3 { font-size: 20px; }
#rightSidebar .tags .weight-4 { font-size: 24px; }
#rightSidebar .tags .weight-5 { font-size: 28px; }

.help-block {
    color: #cccccc;
}

.new-label {
    position: absolute;
    font-size: 15px !important;
    top: 0px;
    right: 15px;
}

.banner-link {
    color: inherit;
}

.banner-link:hover {
    color: inherit;
    text-decoration: none;
}

.no-banner {
    max-width: 468px;
    height: 68px;
    background: #666666;
    border: 1px solid #8e8e8e;
    margin: 0 auto;
}
.no-banner > p {
    position: relative;
    top: 15%;
    text-align: center;
    margin: auto;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 30px;
}

.table-hover tbody tr:hover td {
    background: #7a7a7a;
    color: #FFF;
}