{# src/HyperionStudios/GxpBundle/Resources/views/Page/index.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %} ProjectGxp Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{%block headAd %}
    {#remove ads #}
{% endblock %}
{%block footerAd %}
    {#remove ads #}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">{{ flashMessage }}</div>
        {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <form role='form' class="" action="{{ path('ProjectGxp_login_check') }}" method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.message }}</div>
                        {% endif %}
                        <div class='form-group'> 
                            <label for="_username">Username</label>
                            <input type="text" class='form-control' name="_username" placeholder="Username"/>
                        </div>
                        <div class='form-group'> 
                            <label for="_password">Password</label>
                            <input type="password" class='form-control' name="_password" placeholder="Password"/>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Login" />
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}