{# src/HyperionStudios/GxpBundle/Resources/views/Page/index.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %} User Registration {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{%block headAd %}
    {#remove ads #}
{% endblock %}
{%block footerAd %}
    {#remove ads #}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">User Registration</div>
                <div class="panel-body">
                    <form role="form" action="{{ path('ProjectGxp_register') }}" method="post" {{ form_enctype(form) }}>
                        {{ form_errors(form) }}
                        {{ form_row(form.user.username, { 'attr': {'required': true } }) }}
                        {{ form_row(form.user.email) }}
                        {{ form_row(form.user.plainPassword, { 'attr': {'required': true } }) }}
                        <div class="form-group">
                            {{ form_errors(form.recaptcha) }}  
                            {{ form_widget(form.recaptcha) }}  
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.termsAccepted) }}  
                            {{ form_widget(form.termsAccepted) }}
                            Agree to the <a href="{{ path('ProjectGxp_tos') }}" target="_blank">Terms of Service</a>
                        </div>
                        {{ form_row(form.user.submit) }}
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% form_theme form _self %}

{% block checkbox_widget %}
    {% spaceless %}
    {#<div class="checkbox">#}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {#</div>#}
    {% endspaceless %}
{% endblock checkbox_widget %}

