{# src/HyperionStudios/GxpAdminBundle/Resources/views/Server/profile.html.twig #}
{% extends 'ProjectGxpAdminBundle:Page:index.html.twig' %}

{% block title %}ProjectGxp Admin Settings {% endblock %}

{% block stylesheets %}
    {{ parent() }}   
{% endblock %}

{% block coreJavascript %}
    {{ parent() }}
{% endblock %}

{% block admin_side_nav %}
    <li>{{ form_row(form.add_serverType) }}</li>
    <li>{{ form_row(form.delete_serverType, 
        {'attr': {'class': 'btn btn-danger', 'onClick': 'return confirm(\'Are you sure you wish to continue?\')'} }) 
    }}</li>
{% endblock %}

{% block altbody %}
    {{ form_start(form) }}
    
    {{ parent() }}
    
    {{ form_rest(form) }}
{% endblock %}


{% block admin_body %}
    {{ form_errors(form) }}
    {{ form_label(form.serverTypes) }}
    {{ form_widget(form.serverTypes, {'attr': {'class':'form-control'} }) }}
    {{ form_widget(form.serverType) }}
{% endblock %}