{# src/HyperionStudios/GxpBundle/Resources/views/Page/tos.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %}Api Documentation{% endblock %}

{%block headAd %}
    {#remove ads #}
{% endblock %}
{%block footerAd %}
    {#remove ads #}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.snippet.min.css') }}" />
{% endblock %}

{% block coreJavascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.zclip.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.snippet.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {  
            $("pre.php").snippet("php",{style:"darkness",clipboard:"{{ asset('js/ZeroClipboard.swf') }}"});
            $("pre.js").snippet("javascript",{style:"darkness",clipboard:"{{ asset('js/ZeroClipboard.swf') }}"});
        }); 
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Api Documentation
                </div>
                <div class="panel-body">
                    <p>
                        So, you are intrested in learning how to use our public API? Well, currently there's not much to it,
                        but follow the steps and you'll be on your way! :D
                    </p>
                    <h4>JSON string sent from us.</h4>
                    <div class="well well-sm">
                        <pre class="js">
{
    "user":
    {
        "username":"test_user",
        "ip":"127.0.0.1"
    },
    "server":
    {
        "id":1,
        "api_key":"NTEyOTg1NDkxMjAx"
    },
    "votes":1,
    "unix_time":1404190707
    "datetime":
    {
        "date":"2014-07-01 00:58:27",
        "timezone_type":3,
        "timezone":"America/New_York"
    }
}
                        </pre>
                    </div>
                    <p>The json string is the same rather your request it, or us automaticly sending you it.
                        We do not recommend calling this from Ajax as it contains sensitive inforamation
                        that is private to your users.<br>
                        Anyway, let's run down what all of the json string means. We won't bother with the obvious.
                    </p>
                    <div class="well">
                        <ul class="list-unstyled">
                            <li>"server[id]" is the id of your server on our listings.</li>
                            <li>"server[api_key]" is the api key to your server to verify that the json is from us.</li>
                            <li>"votes" is how many votes this user has voted in the time of each reset cycle.</li>
                            <li>"unix_time" is the UNIX timestamp of the time the user last voted.</li>
                            <li>"datetime" is PHP's DateTime class with timezone data.</li>
                        </ul>                   
                    </div>
                    <h4>PHP code to retrieve vote info</h4>
                    <div class="well well-sm">
                        <pre class="php">
function hasUserVoted($myAPI, $server_id, $myUsername) {
    $json = @file_get_contents("http://www.projectgxp.com/api/vote/$server_id/$myAPI/$myUsername");
    if ($json) {
        $obj = json_decode($json);
        if ($obj->server->api_key == $myAPI &&
            $obj->user->username == $myUsername) {
            return true;
        }
    }
    return false;
}
                        </pre>
                    </div>
                    <p>
                        <strong>file_get_contents</strong> retreives the json from our server if you supply the correct parameters.
                        If any of the parameters are incorrect or can not be found on our servers, it will fail with a http 404 error.
                        You could also use cURL if your prefer. This way is just simpler to give you the idea.
                    </p>
                </div>
                <div class="panel-footer">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
{% endblock %}
