{# src/HyperionStudios/GxpBundle/Resources/views/Page/contact.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %}Contact{% endblock %}

{%block headAd %}
    {#remove ads #}
{% endblock %}
{%block footerAd %}
    {#remove ads #}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Contact ProjectGXP
                </div>
                <div class="panel-body">
                    {% for flashMessage in app.session.flashbag.get('email_success') %}
                        <div class="alert alert-success">{{ flashMessage|raw }}</div>
                    {% endfor %}
                    <div>
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.description) }}
                    <div class="form-group">
                      {{ form_errors(form.recaptcha) }}  
                      {{ form_widget(form.recaptcha) }}  
                    </div>
                    {{ form_rest(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
