{# src/HyperionStudios/GxpBundle/Resources/views/Page/index.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %} ProjectGxp {{ type }} Servers{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css"/>
    <style>
        .pagination {
            margin: 0;
        }
    </style>
        
{% endblock %}

{% block coreJavascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.zclip.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {  
            //can't select all when element is "disabled"
            $('a.ip-copy-btn').zclip({
                path:'{{ asset('js/ZeroClipboard.swf') }}',
                copy:function(){
                    var $parent = $(this).parent().parent();
                    return $parent.find('.ip-copy-text').val();
                },
                afterCopy:function(){ 
                    var $this = $(this);
                    $this.toggleClass('btn-success');
                    $this.find('.checkmark').toggle();
                    setTimeout(function(){ 
                        $this.toggleClass('btn-success');
                        $this.find('.checkmark').toggle();
                    },
                    5000);
                    
                } 
            });

        }); 
    </script>
{% endblock %}


{% block body %}
    {{ parent() }}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}
    <div class="navbar" role="navigation">
        <ul class="nav nav-pills">
          {% for t in serverTypes %}
            <li {% if type == t.name %}class="active"{% endif %}>
                <a href="{{ path('ProjectGxp_servers', {'type': t.name}) }}">{{t.name}}</a>
            </li>
          {% endfor %}
        </ul>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <h3>
                        <span class="glyphicon glyphicon-info-sign"></span>
                        Name
                    </h3>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h3>
                        <span class="glyphicon glyphicon-hdd"></span>
                        {{ type }} Servers
                    </h3>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <h3>
                        <span class="glyphicon glyphicon-user"></span>
                        Players
                    </h3>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <h3>
                        <span class="glyphicon glyphicon-off"></span>
                        Status
                    </h3>
                </div>

            </div>
        </div>
        
        {# render search bar! #}
        {{ render(controller('ProjectGxpBundle:Page:searchBar', {'type': type})) }}            

    <ul class="list-group serverList">
        {% for server in servers %}
            <li class="list-group-item">
                {% include 'ProjectGxpBundle:Snippets:serverListing.html.twig' %}
            </li>
            {% endfor %}
            {% if servers is empty %}
                <li class="list-group-item">
                      <div class="alert alert-warning">
                            Sorry, there are no servers to be displayed.
                     </div>
                </li>
            {% endif %}
        </ul>
        
        {% if pages > 1 %}
            <div class="panel-footer">
                <ul class="pagination">
                    
                    {% for i in 1..pages %}
                        {% if i == 1 and i == page %}
                            <li class="disabled"><a>&laquo;</a></li>
                        {% elseif i == 1 %}
                            <li><a href="{{ path('ProjectGxp_servers', query|merge({'type': type, 'tag': tags, 'page': (page-1)})) }}">&laquo;</a></li>
                        {% endif %}
                            
                        {% if i == page %}
                            <li class="active"><a>{{ i }} <span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a href="{{ path('ProjectGxp_servers', query|merge({'type': type, 'tags': tags, 'page': i})) }}">{{ i }}</a></li>
                        {% endif %}
                            
                        {% if i == page and page == pages %}
                            <li class="disabled"><a>&raquo;</a></li>
                        {% elseif i == pages %}
                            <li><a href="{{ path('ProjectGxp_servers', query|merge({'type': type, 'tags': tags, 'page': (page+1)})) }}">&raquo;</a></li>
                        {% endif %}
                        
                    {% endfor %}
                </ul>
            </div>
       {% endif %}
        
    </div>


{% endblock %}

{% block rightSidebar %}
    <section class="section">
        <header>
            <h3>Tag Cloud</h3>
        </header>
        <p class="tags">
            {% for tag, weight in tagWeights %}
                <a href="{{ path('ProjectGxp_servers', {'type': type, 'tags': tag}) }}" class="weight-{{ weight }}">{{ tag|capitalize }}</a>
            {% else %}
                <p>There are no tags</p>
            {% endfor %}
        </p>
    </section>
    {{ parent() }}
{% endblock %}