{# src/HyperionStudios/GxpBundle/Resources/views/Page/privacy.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{%block headAd %}
    {#remove ads #}
{% endblock %}
{%block footerAd %}
    {#remove ads #}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ProjectGXP Privacy Policy
                </div>
                <div class="panel-body">
                    <strong>Google Analytics</strong>
                    <p>
                        This website uses Google Analytics to help analyse how visitors use this site. 
                        Google Analytics uses "cookies", which are small text files placed on your computer, to collect standard internet 
                        log information and visitor behaviour information in an anonymous form. Note the deliberate emphasis of anonymous,
                        as no personally identifiable information is collected about you unless you explicitly submit that information 
                        via a fill-in form on this website.
                    </p>
                   <strong>DoubleClick DART Cookie</strong>
                    <p>
                        DoubleClick DART cookie enables advertisers to serve ads to 
                        Users based on their visit to our Site and other sites on the Internet. 
                        DART uses "non personally identifiable information" and does NOT track personal information about you, 
                        such as your name, email address, physical address, etc.<br>
                        Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include:
                        <ul>
                            <li><a href="http://www.google.com/privacy_ads.html" target="_blank">Google Adsense</a></li>
                            <li><a href="https://www.projectwonderful.com" target="_blank">ProjectWonderful</a></li>
                        </ul>
                    </p>
                    <strong>Personal identification information</strong>
                    <p>
                        We may collect personal identification information from Users in a variety of ways, including, 
                        but not limited to, when Users visit our site, register on the site, fill out a form, 
                        and in connection with other activities, services, features or resources we make available on our Site. 
                        Users may be asked for, as appropriate, email address. Users may, however, visit our Site anonymously. 
                        We will collect personal identification information from Users only if they voluntarily submit such 
                        information to us. Users can always refuse to supply personally identification information, 
                        except that it may prevent them from engaging in certain Site related activities.
                    </p>
                    <strong>Non-personal identification information</strong>
                    <p>
                        We may collect non-personal identification information about Users whenever they interact with our Site. 
                        Non-personal identification information may include the browser name, the type of computer and technical
                        information about Users means of connection to our Site, such as the operating system, the Internet 
                        service providers utilized, IP addresses, and other similar information. We do not associate any data gathered 
                        from this site with any personally identifiable information from any source.
                    </p>
                    <strong>Web browser cookies</strong>
                    <p>
                        Our Site uses "cookies" to enhance User experience (and no, you can't eat them sadly :-( ). 
                        User's web browser places cookies on their hard drive for record-keeping purposes 
                        and sometimes to track information about them. User may choose to set their web browser 
                        to refuse cookies, or to alert you when cookies are being sent. 
                        If they do so, note that some parts of the Site may not function properly 
                        and possibly not be able use your user account.
                    </p>
                    <strong>How we protect your information</strong>
                    <p>
                        We adopt appropriate data collection, storage and processing practices and security measures to 
                        protect against unauthorized access, alteration, disclosure or destruction of your personal information, 
                        username, password, transaction information and data stored on our Site. 
                        Passwords are stored with bcrypt hashing algorithms.
                    </p>
                    <strong>Third party websites</strong>
                    <p>
                        Users may find advertising or other content on our Site that link to the sites and services of our partners, 
                        suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links 
                        that appear on these sites and are not responsible for the practices employed by websites linked to or from 
                        our Site. In addition, these sites or services, including their content and links, may be constantly changing.
                        These sites and services may have their own privacy policies and customer service policies. 
                        Browsing and interaction on any other website, including websites which have a link to our Site, 
                        is subject to that website's own terms and policies.
                    </p>

                    <strong>Changes to this privacy policy</strong>
                    <p>
                        HyperionStudios has the discretion to update this privacy policy at any time. 
                        When we do, we will revise the updated date at the bottom of this page. 
                        We encourage Users to frequently check this page for any changes to stay informed about 
                        how we are helping to protect the personal information we collect. 
                        You acknowledge and agree that it is your responsibility to review this privacy policy periodically
                        and become aware of modifications.
                    </p>
                    
                    <strong>Your acceptance of these terms</strong>
                    <p>
                        By using this Site, you signify your acceptance of this policy and 
                        <a href="http://www.projectgxp.com/tos">terms of service</a>. 
                        If you do not agree to this policy, please do not use our Site. 
                        Your continued use of the Site following the posting of changes to this policy will be deemed your 
                        acceptance of those changes.
                    </p>
                    
                    <strong>Contacting us</strong><br>
                    <p>
                        If you have any questions about this Privacy Policy, the practices of this site, 
                        or your dealings with this site, please <a href="{{ path('ProjectGxp_contact') }}">contact us</a>.
                    </p>
                </div>
                <div class="panel-footer">
                    <small>Last Revison: July 30, 2014</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
