{# src/HyperionStudios/GxpBundle/Resources/views/Page/stats.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %}Statistics{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .col-centered{
            float: none;
            margin: 0 auto;
        }
        .table td {
            border-top: none !important;
        }
        td.stats-value {
            min-width: 40px;
        }
        tr.stats-total {
            border-top: 1px solid;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Statistics
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Servers Listed</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    {% for key,value in stats.servers_count if key is not sameas("all") %}
                                    <tr>
                                        <td class="stats-value"><em>{{ value }}</em></td>
                                        <td>{{ key }} servers</td>
                                    </tr>
                                    {% endfor %}
                                    <tr class="stats-total">
                                        <td class="stats-value"><em>{{ stats.servers_count.all }}</em></td>
                                        <td><strong>Total servers</strong></td>
                                    </tr>
                                </table> 
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3>Top 5 votes</h3>
                            <ul class="list-unstyled list-idented">
                                {% for vote in stats.votes %}
                                <li>{{ vote.username }} has voted {{ vote.votes }} times!</li>
                                {% endfor %}
                            </ul> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-centered">
                            <h3>Top 5 servers</h3>
                            <ul class="list-unstyled">
                                {% for server in stats.top_servers %}
                                
                                <li>
                                    <div>
                                        {{ server.name}} has received {{ server.totalVotes }} votes!
                                        {% include 'ProjectGxpBundle:Snippets:nobanner.html.twig' %}
                                    </div>
                                    
                                </li>
                                {% endfor %}
                            </ul> 
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
{% endblock %}
