{# src/HyperionStudios/GxpBundle/Resources/views/Page/tos.html.twig #}
{% extends 'ProjectGxpBundle::layout.html.twig' %}

{% block title %}Terms of Service{% endblock %}

{%block headAd %}
    {#remove ads #}
{% endblock %}
{%block footerAd %}
    {#remove ads #}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    ProjectGXP Terms of Service
                </div>
                <div class="panel-body">
                    <p>
                        By using Projectgxp.com you are agreeing to the following Terms of Service.
                        The use of "We" or "Us" on this page refers to the site and owning entity (Hyperion Studios) and the use of "You" refers to all visitors and users. 
                        If you do not agree to any of these terms please discontinue use of Projectgxp.com.
                    </p>
                    <h4>Voting</h4>
                    <p>
                        You may only vote for once every 24 hours for a particular server. 
                        Using automated programs to vote is strictly forbidden and you will be banned from our site.
                    </p>
                    <h4>Server Owners</h4>
                    <p>
                        In order to post your server on this site, Projectgxp, you must be the owner or have the owner's explict permission.
                        You may not post dupilicate listings. 
                        Dupilicates will be removed and could result in your user account banned from the website.
                        As server owner, you agree to not upload any pornographic, illegal, racist, or hateful content as any part of your listing.
                    </p>
                    <h4>Banners</h4>
                    <p>
                        Banners should not be rapidly flashing images. This may induce epileptic seizures in some users. 
                        We will remove any banners that violates these rules.
                    </p>
                    <h4>Server Removals</h4>
                    <p>
                        We hold the right to remove any server listing from our site for any reason.
                        You may remove your server from our listings at anytime by either going to your 
                        user profile and find the server you wish to remove in the list and clicking "remove" or 
                        going to the server's page and click "remove".
                    </p>
                    <h4>Advertisements</h4>
                    <p>
                        Projectgxp displays advertisement banners across various sections of the website. This content is Third Party and
                        is not endorsed by us in any way.
                    </p>
                    <h4>Change of Terms</h4>
                    <p>
                        We hold the right to change these terms any time without notice.
                    </p>
                </div>
                <div class="panel-footer">
                    <small>Last Revison: June 24, 2014</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
