{# src/HyperionStudios/GxpBundle/Resources/views/Snipperts/nobanner.html.twig #}

 <a class="banner-link" href="{{ path('ProjectGxp_server', {'id': server.id}) }}">
    {% if server.bannerImage.webPath %}
        <img src="{{ asset(server.bannerImage.webPath) }}" class="bannerImg img-responsive" alt="{{ server.name }}">
    {% else %}
        <div class="no-banner"><p>No Banner</p></div>
    {% endif %}

    {% if server.creationDate|date("U") > "-7 days"|date("U") %}
        <span class="label label-success new-label">New</span>
    {% endif %}
</a>
