{# src/HyperionStudios/GxpBundle/Resources/views/Snipperts/serverListing.html.twig #}

<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2">
        <div class="f32"><span class="flag {{ server.country|lower }}" title="{{ server.country|country }}"></span></div>
        <h4>{{server.name}}</h4>
        <div>
            {% if server.version %}
            Version: {{ server.version }}
            {% endif %}
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">

       {% include 'ProjectGxpBundle:Snippets:nobanner.html.twig' %}

        <div class="row">
            <div class="col-md-12">
                {# display server ip #}

                <div class="input-group input-group-sm ip-copy-group">
                    <span class="input-group-btn">
                        <a  class="btn btn-default ip-copy-btn">
                            Copy
                            <span class="checkmark glyphicon glyphicon-ok-sign" style="display:none;"></span>
                        </a>
                    </span>
                    <input value="{{ server.ip }}:{{ server.port }}" type="text" readonly="readonly" class="form-control ip-copy-text" >
                </div>

            </div>   
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-1">
        <h4>
        {% if server.playersCount and server.maxPlayersCount %}
            {{ server.playersCount }}/{{ server.maxPlayersCount }}
        {% elseif server.maxPlayersCount %}
            0/{{ server.maxPlayersCount }}  
        {% elseif server.playersCount %}
            {{ server.playersCount }}
        {% else %}
            N/A
        {% endif %}
        </h4>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-3">
        {#{ server.isOnline }#}
        <div class="server-status">
            {% if server.isOnline %}
                <h4 class="label label-success">Online</h4>
            {% else %}
                <h4 class="label label-danger">Offline</h4>
            {% endif %}
        </div>
        <div class="server-stats">
            {% set upPercent = server.UptimePercentage() *100 %}
            {% spaceless %}
            <div 
            {% if upPercent <= 30 %}
                class="text-danger"
            {% elseif upPercent <= 70 %}
                class="text-warning"
            {% else %}
                class="text-success"
            {% endif %}
            >Uptime: {{ (upPercent)|number_format(2,'.',',') }}%</div>
            {% endspaceless %}
            <div>Votes: {{ server.totalVotes }}</div>
        </div>
    </div>
</div>
<div class="row server-tags">
     {% for tag in server.tags %}
        <a href="{{ path('ProjectGxp_servers', {'type': server.type.name, 'tags': tag}) }}" class="btn btn-sm btn-primary">{{ tag }}</a>
     {% endfor %}
</div>       