{# src/HyperionStudios/GxpBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block headJavascripts %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

{% block content %}
    {{ parent() }}
    {%block headAd %}
        <div style="width:728px;margin:0 auto;">
            <!-- pgxp_top -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px;"
                 data-ad-client="ca-pub-1495283048964026"
                 data-ad-slot="9670855065"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    {% endblock %}
    {% block altbody %}
        <div id="content" class="col-md-10">
            {% block body %}

            {% endblock %}
        </div>
        <aside id="rightSidebar" class="col-md-2">
             {% block rightSidebar %}

             {% endblock %}
        </aside>
    {% endblock %}
    {%block footerAd %}
        <div style="width:468px;margin:0 auto;">
            <!-- PGXP_Bot -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:468px;height:60px;"
                 data-ad-client="ca-pub-1495283048964026"
                 data-ad-slot="3980162261"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    {% endblock %}
{% endblock %}
